/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@keyframes bubble-float {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: translateY(-50vh) scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: translateY(-100vh) scale(0);
      opacity: 0;
    }
  }